## 1. pymysql

* mysql을 python에서 사용할 수 있는 라이브러리 (pymysql 라이브러리 이외에도 MySQLdb(Mysql-pytion), MySQL connector 등 다양한 라이브러리 존재)
* 이 중에서 설치가 가장 쉬운 라이브러리

* mysql 코드 작성 순서

```
  1. 모듈 import
  2. pymysql.connect() 메소드로 MySQL에 연결
     - 호스트명, 포트, 로그인, 암호, 접속할 DB 등을 파라미터로 지정
  3. MySQL 접속이 성공하면, Connection 객체로부터 cursor() 메서드를 호출하여 Cursor 객체를 가져옴
  4. Cursor 객체의 execute() 메서드를 사용하여 SQL 문장을 DB 서버에 전송
  5. SQL 쿼리의 경우 Cursor 객체의 fetchall(), fetchone(), fetchmany() 등의 메서드를 사용하여 서버로부터 가져온 데이타를 코드에서 활용
  6. 삽입, 갱신, 삭제 등의 DML(Data Manipulation Language) 문장을 실행하는 경우, INSERT/UPDATE/DELETE 후 Connection 객체의 commit() 메서드를 사용하여 데이타를 확정
  7. Connection 객체의 close() 메서드를 사용하여 DB 연결을 닫음
  ```

* PyMySql 모듈 import

In [ ]:
# 1. pymysql을 설치한다
!pip install pymysql

In [ ]:
# 2. import 한다
import pymysql

- 접속정보는 중요하므로 별개 파일에 저장 (주로 json이나 yaml 사용)

In [ ]:
%%writefile db.yaml
HOST: '118.67.131.22'
USER: 'fisaai'
PASSWD: 'Woorifisa!4'

In [ ]:
import yaml

DB_INFO = "db.yaml"
with open(DB_INFO,"r") as f:
    db_info = yaml.load(f, Loader=yaml.Loader)

In [ ]:
db_info

In [ ]:
HOST = db_info["HOST"]
USER = db_info["USER"]
PASSWD = db_info["PASSWD"]
PORT = 3306

* pymysql.connect() 메소드를 사용하여 MySQL에 연결
     - 호스트명, 포트, 로그인, 암호, 접속할 DB 등을 파라미터로 지정
     - 주요 파라미터
       - host : 접속할 mysql server 주소
       - port : 접속할 mysql server 의 포트 번호
       - user : mysql ID
       - passwd : mysql ID의 암호
       - db : 접속할 데이터베이스
       - charset='utf8' : mysql에서 select하여 데이타를 가져올 때 한글이 깨질 수 있으므로 연결 설정에 넣어줌

In [ ]:
import pymysql
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

connection = pymysql.connect(
    host=?,     # MySQL Server Address
    port=?,          # MySQL Server Port
    user=?,      # MySQL username
    passwd=?,    # password for MySQL username
    db=?,   # Database name
    charset='utf8mb4'
)

- DB 접속 정보

In [ ]:
# 1. 모듈을 불러옵니다.
import pymysql

# 2. pymysql한테 3306 포트번호와 접속할 ID, PW를 준다
connection = pymysql.connect(host=HOST,
                             user=USER,
                             password=PASSWD,
                             db='student_mgmt')

# 3. 대신 일하게 만들 커서를 만듭니다.

# 4. 실행할 SQL문을 넘깁니다. - 기본적으로 한 번에 한 문장을 넘기는구나
''''INSERT INTO students (name, gender, birth, english, math, korean) VALUES ('wage2', 'woman', '1982-1-13', 76, 30, 80);
INSERT INTO students (name, gender, birth, english, math, korean) VALUES ('tina2', 'woman', '1982-12-3', 87, 62, 71);''''


# 5. DB에 현재 상태를 COMMIT 합니다.

# 6. DB와 연결을 닫습니다.

In [ ]:
# 1. 모듈을 불러옵니다.
import pymysql

# 2. pymysql한테 3306 포트번호와 접속할 ID, PW를 준다


# 3. 대신 일하게 만들 커서를 만듭니다.
cursor = connection.cursor()

# 4. 실행할 SQL문을 넘깁니다. - 옵션을 바꿔서 접속하면 여러 문장을 한번에 넘기는구나

# 5. DB에 현재 상태를 COMMIT 합니다.

# 6. DB와 연결을 닫습니다.

### 패턴으로 익히는 pymysql

* 데이터 삽입(INSERT)
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

* 데이터 조회(SELECT)
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - mysql 서버로부터 데이터 가져오기: fetch 메서드 사용
    - fetchall(): Fetch all the rows
    - fetchmany(size=None): Fetch several rows
    - fetchone(): Fetch the next row

In [ ]:
# 1. 라이브러리 가져오기

# 2. 접속하기

# 3. 커서 가져오기

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)

# 5. SQL 구문 실행하기

# 6. DB에 Complete 하기

# 7. DB 연결 닫기

In [ ]:
# 1. 라이브러리 가져오기

# 2. 접속하기

# 3. 커서 가져오기

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)

# 5. SQL 구문 실행하기

# 6. DB에 Complete 하기

# 7. DB 연결 닫기

* 데이터 수정(UPDATE)
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [ ]:
# 1. 라이브러리 가져오기

# 2. 접속하기

# 3. 커서 가져오기

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)

# 5. SQL 구문 실행하기

# 6. DB에 Complete 하기

# 7. DB 연결 닫기

* 데이터 삭제(DELETE)
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [ ]:
# 1. 라이브러리 가져오기

# 2. 접속하기

# 3. 커서 가져오기

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)

# 5. SQL 구문 실행하기

# 6. DB에 Complete 하기

# 7. DB 연결 닫기

# 2. Pandas와 PyMySQL 연동

In [ ]:
!pip install PyMySQL

In [ ]:
import pymysql
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

host_name = '118.67.131.22' # 구글 컴퓨터라 내 컴퓨터의 localhost에 접속 불가 - 어디서나 접속할 수 있는 원격 DB가 필요하다
host_port = 3306
username = 'fisaai'
password = 'Woorifisa!4'
database_name = 'fisa'

import pymysql

db = pymysql.connect(
    user = USER,
    passwd = PASSWD,
    host = HOST,
    port = PORT,
    db = 'fisa'
)
db

- 클라우드에 설치된 MySQL 8.0 SERVER

- pymysql의 연결 객체를 이용하여 pandas의 자료형인 데이터프레임 객체 생성하기

In [ ]:
import pymysql

conn = pymysql.connect(
    user = USER,
    passwd = PASSWD,
    host = HOST,
    port = PORT,
    db = 'fisa'
)
conn

In [1]:
 ### 이전 DB 커넥션을 끊어주세요

# DF를 데이터베이스 서버로 보내기

## SQLAlchemy
- python에서 사용하는 대표적인 ORM
- ORM(Object Relational Mapping) 이란?
    - 객체와 DB의 테이블이 매핑을 이루는 것을 말한다.
    - DB의 테이블 객체화 시켜서 데이터를 CRUD
    - SQL 을 직접 작성하지 않고 테이블을 조작할수 있다.
    - 사용하는 DBMS가 변경된다면 엔진만 바꿔주면 된다.
    - 쿼리 대신 메소드를 이용해서 CRUD 한다.

``` df.to_sql(name=테이블이름, con=engine, if_exists='append', index=False)```
-  Dataframe은 항상 index가 있기 때문에, 테이블 구조와 안맞을 수 있음, 그래서 index=False 로 작성
-  if_exists = 'fail' : 같은 이름의 Table이 존재할 경우 ValueError 가 남
   - if_exists = 'replace': 같은 이름의 Table이 존재할 경우 기존 Table을 Drop하고 새로운 값을 Insert함
  - if_exists = 'append': 같은 이름의 Table이 존재할 경우 기존 Table에 추가로 새로운 값을 Insert함
- 각 column name을 테이블의 컬럼명과 동일하게 하면 해당 컬럼에 데이터 입력
- empno 는 PRIMARY KEY로 AUTO_INCREMENT 옵션을 넣었으므로, 데이터 입력을 하지 않음

In [ ]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)

In [ ]:
# df1 이라는 이름으로 등록일자는 datetime, 테스트점수는 float으로 자료형을 변경한 후에
# jjanggu1 이라는 테이블에 to_sql 명령어를 사용해서 데이터를 넣어주세요. 자료형을 확인해보세요.
# db.yaml에 있는 정보를 바탕으로 중요정보를 익명처리해주세요.
import pymysql
from sqlalchemy import create_engine  # InnoDB
import pandas as pd


## 방법은 거의
## 접속할DB종류+접속에사용할패키지명 + :// + userid:password @ 주소:포트번호/db?인코딩방법 의 형태를 띔
engine = create_engine(f"")

In [ ]:
# df1 이라는 이름으로 등록일자는 datetime, 테스트점수는 float으로 자료형을 변경한 후에
# jjanggu1 이라는 테이블에 to_sql 명령어를 사용해서 데이터를 넣어주세요. 자료형을 확인해보세요.

- DB 선택 없이 접속

In [ ]:
conn = pymysql.connect(
    user = USER,
    passwd = PASSWD,
    host = HOST,
    port = PORT,
    # autocommit = True # default : False # 오토커밋 기능 설정
)

conn

In [ ]:
conn.autocommit_mode

False

- DB 선택하기

In [ ]:
conn.select_db("fisa") # use DB명;

- 동적 SQL 사용

In [ ]:
# SQL문 실행 - %s 로 변하는 값이 들어갈 자리를 비워둠.


# 비워둔 자리 개수만큼 2번째 인자로 값을 튜플 안에 순서대로 전달


# 데이터 Fetch

- df를 csv 파일로 저장

- 사용후엔 꼭 connection을 닫아주세요!

In [ ]:
conn.close()